[Unit]
Description=Kafka Service
Requires=zookeeper.service

[Service]
Type=simple

User={{ kafka_user }}
Group={{ kafka_group }}

ExecStart={{ kafka_home }}/bin/kafka-server-start.sh {{ kafka_home }}/config/server.properties

StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=syslog.service