[Unit]
Description=Zookeeper Service

[Service]
Type=simple

User={{ kafka_user }}
Group={{ kafka_group }}

ExecStart={{ kafka_home }}/bin/zookeeper-server-start.sh {{ kafka_home }}/config/zookeeper.properties
#ExecStop=

StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=syslog.service